In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime
import seaborn as sns
import plotly as py
from scipy.stats import norm

import os

In [23]:
path = os.path.join(os.getcwd(),"..","data","","quotedata.csv")
#path = os.path.join(os.getcwd(),"..","data","","pokemon.csv")
pd.read_csv(path, skiprows=2).head()

,Calls,Last Sale,Net,Bid,Ask,Vol,Open Int,Puts,Last Sale.1,Net.1,Bid.1,Ask.1,Vol.1,Open Int.1
0,2018 Aug 15 1700.00 (SPXW1815H1700),0.0,0.0,1106.5,1130.1,0,0,2018 Aug 15 1700.00 (SPXW1815T1700),0.30,0.0,0.0,0.05,0,822
1,2018 Aug 15 1700.00 (SPXW1815H1700-E),0.0,0.0,1106.5,1130.1,0,0,2018 Aug 15 1700.00 (SPXW1815T1700-E),0.30,0.0,0.0,0.05,0,822
2,2018 Aug 15 1800.00 (SPXW1815H1800),0.0,0.0,1006.1,1030.0,0,0,2018 Aug 15 1800.00 (SPXW1815T1800),0.10,0.0,0.0,0.05,0,487
3,2018 Aug 15 1800.00 (SPXW1815H1800-E),0.0,0.0,1006.1,1030.0,0,0,2018 Aug 15 1800.00 (SPXW1815T1800-E),0.10,0.0,0.0,0.05,0,487
4,2018 Aug 15 1850.00 (SPXW1815H1850),0.0,0.0,956.3,980.0,0,0,2018 Aug 15 1850.00 (SPXW1815T1850),0.15,0.0,0.0,0.05,0,155

$$dX_t = \mu X_t dt+\sigma X_t dW_t$$
$$X_t=X_0\exp((\mu-\frac 12\sigma^2)t+\sigma W_t)$$
$$ln X_t\sim N(\ln X_0+(\mu-\frac 12\sigma^2)t, \sigma^2t)$$

# A PDE pricer for American options

First of all we want to build a robust PDE pricer for European style options. Recall that the Black-Scholes PDE (ignoring rates and dividends) is
$$\frac{dC}{dt}+\frac 12\sigma^2\frac{d^22C}{dS^2}=0$$
with the boundary conditions
$$

In [13]:
strike = 3.141
forward = 2.7
date_start = datetime.datetime(2018,1,1)
date_end = datetime.datetime(2019,1,1)
volatility = 0.2

epoch = datetime.datetime.utcfromtimestamp(0)
seconds_per_year = 365*24*60*60

In [14]:
T = (date_end-epoch).total_seconds() / seconds_per_year
t = (date_start-epoch).total_seconds() / seconds_per_year
F = 1.23
K = np.linspace(0.7,1.3,101)
t = np.linspace(t,T,101)

p = numpy.array((len(t), len(K)))

a = numpy.full((len(t), len(K)), 0.03)
b = numpy.full((len(t), len(K)), 0.2)

t=t-t[0]
sigma = 0.2

t

NameError: name 'numpy' is not defined

$$a = b+c$$