In [1]:
api_key='pVAAi_o-yCgdHyKVsCTa'
api_key

'pVAAi_o-yCgdHyKVsCTa'

In [3]:
import quandl

In [5]:
quandl.ApiConfig.api_key = api_key

data = quandl.get_table('WIKI/PRICES',
                         ticker = ['AAPL','MSFT'],
                        qopts = {'columns': ['ticker', 'date', 'adj_close']},
                        date = {'gte': '2015-12-31', 'lte': '2016-12-31'},
                        paginate = True)

data.head()

     ticker       date  adj_close
None
0      MSFT 2016-12-30  60.788710
1      MSFT 2016-12-29  61.532183
2      MSFT 2016-12-28  61.620226
3      MSFT 2016-12-27  61.903920
4      MSFT 2016-12-23  61.864790