In [1]:
import pandas as pd
import os
import requests
import io
import pandas as pd

In [2]:
path = "/mnt/c/Users/Samuel/Documents/python/data/HESA"

In [3]:
def download_files(path):

    files = [
    'https://www.hesa.ac.uk/data-and-analysis/providers/estates/table-1.csv',
    'https://www.hesa.ac.uk/data-and-analysis/providers/business-community/table-2a.csv',
    'https://www.hesa.ac.uk/data-and-analysis/providers/business-community/table-2b.csv',
    'https://www.hesa.ac.uk/data-and-analysis/providers/business-community/table-1.csv',
    'https://www.hesa.ac.uk/data-and-analysis/providers/business-community/table-3.csv',
    'https://www.hesa.ac.uk/data-and-analysis/providers/business-community/table-5.csv']

    for f in files:
        download = requests.get(f)
        with open(os.path.join(path,f.split("/")[-2],f.split("/")[-1]), 'w') as temp_file:
            temp_file.writelines(download.content.decode('utf-8'))

In [36]:
def read_files(path):
    file_metadata = []
    file_data = {}
    for i, filename in enumerate([os.path.join(a[0], b) for a in os.walk(path) for b in a[2]]):
        with open(filename,'r') as f:
            x = f.readlines()
        blank_lines = [0==len(l.replace(",","").replace("\n","")) for l in x]
        idx_metadata_end = blank_lines.index(True)
        header = idx_metadata_end + blank_lines[idx_metadata_end:].index(False)
        meta = pd.read_csv(filename, nrows = idx_metadata_end, header=None, index_col=0).iloc[:,0].to_frame(i)
        meta.index.name=None
        df = pd.read_csv(filename, header=header)
        file_data[i]=df
        file_metadata.append(meta)
    file_metadata = pd.concat(file_metadata, axis=1).T
    return file_data, file_metadata

In [44]:
files, meta = read_files(path)

In [45]:
pd.set_option("display.max_colwidth",-1)
meta["Title"].to_frame()

                                                                                                                                                                                   Title
0  Income from collaborative research involving public funding by academic year, type of income, source of public funding and HE provider
1  Business and community services by type of service, academic year, type of organisation and HE provider
2  Continuing Professional Development (CPD) and Continuing Education (CE) courses for business and the community by academic year and HE provider
3  Income from regeneration and development programmes by academic year, programme and HE provider
4  Social, community and cultural engagement: designated public events by academic year, type of event, nature of event, number of attendees, academic staff time (days) and HE provider
5  Estates management by academic year and HE provider

In [59]:
pd.set_option("display.max_rows",500)
categories = pd.Series(files[5]["Category marker"].unique()).to_frame("Categories")
providers = pd.Series(files[5]["HE Provider"].unique()).sort_values().to_frame("Providers")
pd.concat((categories,providers), axis=1).fillna("")

,Categories,Providers
0,Total income (£),Anglia Ruskin University
1,Teaching income (£),The Arts University Bournemouth
2,Research income (£),Bath Spa University
3,Other non-residential income (£),University College Birmingham
4,Non-residential income total (£),Bournemouth University
5,Total expenditure (£),The University of Brighton
6,Teaching student headcount,The University College of Osteopathy
7,Research student headcount,Brunel University London
8,Teaching student FTE,Buckinghamshire New University
9,Research student FTE,Canterbury Christ Church University
10,Total staff FTE,University of Northumbria at Newcastle
11,Total number of sites,"City, University of London"
12,Total number of buildings,Conservatoire for Dance and Drama
13,Non-residential number of buildings,Coventry University
14,Residential number of buildings,De Montfort University
15,Total site area (hectares),Glasgow School of Art
16,Total grounds area (hectares),Goldsmiths College
17,Grounds area water (hectares),"Imperial College of Science, Technology and Medicine"
18,Grounds area listed or heritage (hectares),The Institute of Cancer Research
19,Total playing fields area (hectares),The University of Winchester
20,Total GIA (m2),King's College London
21,Non-residential GIA (m2),Kingston University
22,Residential GIA (m2),Leeds Arts University
23,Total energy consumption (kWh),Leeds Beckett University
24,Energy consumption burning oil (kWh),Leeds Trinity University
25,Energy consumption fuel oil (kWh),The Liverpool Institute for Performing Arts
26,Energy consumption gas oil (kWh),Liverpool Hope University
27,Energy consumption compressed natural gas (kWh),Liverpool John Moores University
28,Energy consumption liquefied natural gas (kWh),Liverpool School of Tropical Medicine
29,Energy consumption liquefied petroleum gas (kWh),London Metropolitan University
30,Energy consumption natural gas excluding that used as input for a CHP unit (kWh),London School of Economics and Political Science
31,Energy consumption natural gas used as input for a CHP unit (kWh),London South Bank University
32,Energy consumption other petroleum gas (kWh),Loughborough University
33,Energy consumption grid electricity (kWh),The Manchester Metropolitan University
34,Energy consumption coal (industrial) (kWh),Middlesex University
35,Energy consumption steam and hot water (kWh),The National Film and Television School
36,Energy consumption other onsite renewables (kWh),Norwich University of the Arts
37,Energy consumption lubricants (kWh),The Nottingham Trent University
38,Energy consumption biofuels (kWh),Oxford Brookes University
39,Energy consumption heat consumed from onsite CHP (kWh),Plymouth College of Art
40,Energy consumption electricity consumed from onsite CHP (kWh),"Queen Margaret University, Edinburgh"
41,Energy consumption petroleum coke (kWh),The Queen's University of Belfast
42,Energy consumption biomass (kWh),Ravensbourne
43,Energy consumption onsite photovoltaic (kWh),The Robert Gordon University
44,Energy consumption onsite wind (kWh),Rose Bruford College of Theatre and Performance
45,Non-residential energy consumption total (kWh),Royal Agricultural University
46,Residential energy consumption total (kWh),Royal Holloway and Bedford New College
47,Fuel used in HEP owned vehicles aviation spirit (litres),SRUC
48,Fuel used in HEP owned vehicles aviation turbine fuel (litres),Sheffield Hallam University
49,Fuel used in HEP owned vehicles biofuels (litres),Southampton Solent University
50,Fuel used in HEP owned vehicles diesel (litres),Staffordshire University
51,Fuel used in HEP owned vehicles liquefied petroleum gas (litres),University for the Creative Arts
52,Fuel used in HEP owned vehicles petrol (litres),The University of West London
53,Total fuel used in HEP owned vehicles (litres),The University of Birmingham
54,Total generation of electricity exported to grid (kWh),The University of Bolton
55,Total water consumption (m3),The University of Liverpool
56,Non-residential water consumption (m3),University of the Highlands and Islands
57,Residential water consumption (m3),The University of Chichester
58,Total scope 1 and 2 carbon emissions (Kg CO2e),The University of Northampton
59,Scope 1 and 2 carbon emissions burning oil (Kg CO2e),University of Worcester
60,Scope 1 and 2 carbon emissions fuel oil (Kg CO2e),Birmingham City University
61,Scope 1 and 2 carbon emissions gas oil (Kg CO2e),The University of Central Lancashire
62,Scope 1 and 2 carbon emissions compressed natural gas (Kg CO2e),University of Durham
63,Scope 1 and 2 carbon emissions liquefied natural gas (Kg CO2e),The University of East London
64,Scope 1 and 2 carbon emissions liquefied petroleum gas (Kg CO2e),University of Gloucestershire
65,Scope 1 and 2 carbon emissions lubricants (Kg CO2e),The University of Greenwich
66,Scope 1 and 2 carbon emissions natural gas (Kg CO2e),University of Hertfordshire
67,Scope 1 and 2 carbon emissions other petroleum gas (Kg CO2e),The University of Huddersfield
68,Scope 1 and 2 carbon emissions grid electricity (Kg CO2e),The University of Hull
69,Scope 1 and 2 carbon emissions coal (industrial) (Kg CO2e),The University of Kent
70,Scope 1 and 2 carbon emissions steam and hot water (Kg CO2e),The University of Lincoln
71,Scope 1 and 2 carbon emissions biofuels (Kg CO2e),University of Bedfordshire
72,Scope 1 and 2 carbon emissions petroleum coke (Kg CO2e),University of Nottingham
73,Scope 1 and 2 carbon emissions biomass (Kg CO2e),The University of Portsmouth
74,Scope 1 and 2 carbon emissions onsite photovoltaic (Kg CO2e),The University of Salford
75,Scope 1 and 2 carbon emissions onsite wind (Kg CO2e),The University of Sheffield
76,Scope 1 and 2 carbon emissions other onsite renewables (Kg CO2e),The University of Southampton
77,Scope 1 and 2 carbon emissions vehicles aviation spirit (Kg CO2e),The University of Sunderland
78,Scope 1 and 2 carbon emissions vehicles aviation turbine fuel (Kg CO2e),The University of Surrey
79,Scope 1 and 2 carbon emissions vehicles biofuels (Kg CO2e),Teesside University
80,Scope 1 and 2 carbon emissions vehicles diesel (Kg CO2e),"University of the Arts, London"
81,Scope 1 and 2 carbon emissions vehicles liquefied petroleum gas (Kg CO2e),The University of Warwick
82,Scope 1 and 2 carbon emissions vehicles petrol (Kg CO2e),"University of the West of England, Bristol"
83,Non-residential scope 1 and 2 carbon emissions total (Kg CO2e),The University of Westminster
84,Residential scope 1 and 2 carbon emissions total (Kg CO2e),The University of Wolverhampton
85,Non-residential volume of wastewater (m3),The University of York
86,Residential volume of wastewater (m3),Writtle University College
87,Total volume of wastewater (m3),York St John University
88,Scope 3 carbon emissions from business travel air (tonnes CO2e),Aston University
89,Scope 3 carbon emissions from business travel rail (tonnes CO2e),Birkbeck College
90,Scope 3 carbon emissions from business travel grey fleet (tonnes CO2e),Courtauld Institute of Art
91,Scope 3 carbon emissions from business travel leased pools cars (tonnes CO2e),Glasgow Caledonian University
92,Scope 3 carbon emissions from business travel company cars (tonnes CO2e),Heriot-Watt University
93,Scope 3 carbon emissions from business travel leased motorcycles or mopeds (tonnes CO2e),Keele University
94,Scope 3 carbon emissions from business travel leased vans (tonnes CO2e),The University of Lancaster
95,Scope 3 carbon emissions from business travel leased buses (tonnes CO2e),London Business School
96,Scope 3 carbon emissions from business travel public bus (tonnes CO2e),London School of Hygiene and Tropical Medicine
97,Scope 3 carbon emissions from business travel underground (tonnes CO2e),Edinburgh Napier University
98,Scope 3 carbon emissions from business travel tram (tonnes CO2e),The Open University
99,Scope 3 carbon emissions from business travel taxi (tonnes CO2e),The University of Oxford
100,Scope 3 carbon emissions from business travel coach (tonnes CO2e),Queen Mary University of London
101,Scope 3 carbon emissions from business travel ferry (tonnes CO2e),Roehampton University
102,Scope 3 carbon emissions from staff commuting by air (tonnes CO2e),Royal College of Art
103,Scope 3 carbon emissions from staff commuting by rail (tonnes CO2e),Royal College of Music
104,Scope 3 carbon emissions from staff commuting by trams (tonnes CO2e),The Royal Veterinary College
105,Scope 3 carbon emissions from staff commuting by underground (tonnes CO2e),SOAS University of London
106,Scope 3 carbon emissions from staff commuting by public bus (tonnes CO2e),"St George's, University of London"
107,Scope 3 carbon emissions from staff commuting by coach (tonnes CO2e),The University of Aberdeen
108,Scope 3 carbon emissions from staff commuting by car (tonnes CO2e),University College London
109,Scope 3 carbon emissions from staff commuting by taxi (tonnes CO2e),The University of Bradford
110,Scope 3 carbon emissions from staff commuting by motorcycle or moped (tonnes CO2e),The University of Bristol
111,Scope 3 carbon emissions from staff commuting by ferry (tonnes CO2e),The University of Cambridge
112,Scope 3 carbon emissions from students commuting by air (tonnes CO2e),The University of East Anglia
113,Scope 3 carbon emissions from students commuting by rail (tonnes CO2e),The University of Edinburgh
114,Scope 3 carbon emissions from students commuting by trams (tonnes CO2e),The University of Essex
115,Scope 3 carbon emissions from students commuting by underground (tonnes CO2e),The University of Exeter
116,Scope 3 carbon emissions from students commuting by public bus (tonnes CO2e),University of South Wales
117,Scope 3 carbon emissions from students commuting by coach (tonnes CO2e),The University of Glasgow
118,Scope 3 carbon emissions from students commuting by car (tonnes CO2e),The University of Leeds
119,Scope 3 carbon emissions from students commuting by taxi (tonnes CO2e),The University of Leicester
120,Scope 3 carbon emissions from students commuting by motorcycle or moped (tonnes CO2e),University of London (Institutes and activities)
121,Scope 3 carbon emissions from students commuting by ferry (tonnes CO2e),The University of Manchester
122,Non-residential scope 3 carbon emissions from waste (tonnes CO2e),Newcastle University
123,Residential scope 3 carbon emissions from waste (tonnes CO2e),The University of the West of Scotland
124,Total scope 3 carbon emissions from waste (tonnes CO2e),University of Plymouth
125,Non-residential method used to calculate scope 3 carbon emissions from waste,The University of Reading
126,Residential method used to calculate scope 3 carbon emissions from waste,The University of St Andrews
127,Total method used to calculate scope 3 carbon emissions from waste,The University of Stirling
128,Non-residential scope 3 carbon emissions from water supply (tonnes CO2e),The University of Strathclyde
129,Residential scope 3 carbon emissions from water supply (tonnes CO2e),The University of Sussex
130,Total scope 3 carbon emissions from water supply (tonnes CO2e),University of Ulster
131,Total scope 3 carbon emissions from wastewater treatment (tonnes CO2e),Bishop Grosseteste University
132,Scope 3 carbon emissions from supply chain business services (tonnes CO2e),Cardiff University
133,Scope 3 carbon emissions from supply chain paper products (tonnes CO2e),The Royal Central School of Speech and Drama
134,Scope 3 carbon emissions from supply chain other manufactured products (tonnes CO2e),Cranfield University
135,"Scope 3 carbon emissions from supply chain manufactured fuels, chemicals, and gases (tonnes CO2e)",Edge Hill University
136,Scope 3 carbon emissions from supply chain food and catering (tonnes CO2e),Guildhall School of Music and Drama
137,Scope 3 carbon emissions from supply chain construction (tonnes CO2e),Newman University
138,Scope 3 carbon emissions from supply chain information and communication technologies (tonnes CO2e),Glyndŵr University
139,Scope 3 carbon emissions from supply chain waste and water (tonnes CO2e),Royal Academy of Music
140,Scope 3 carbon emissions from supply chain medical and precision instruments (tonnes CO2e),Royal Northern College of Music
141,Scope 3 carbon emissions from supply chain other procurement (tonnes CO2e),University of Cumbria
142,Scope 3 carbon emissions from supply chain unclassified (tonnes CO2e),"St Mary's University, Twickenham"
143,Total carbon reduction target (%),University of Chester
144,Total scope 1 and 2 emission baseline for 2005 (tonnes CO2e),University of Abertay Dundee
145,Total number of car parking spaces,The University of Bath
146,Non-residential number of car parking spaces,University of Derby
147,Residential number of car parking spaces,The University of Dundee
148,Total percentage of renewable energy purchased through green tariffs (%),Cardiff Metropolitan University
149,Total energy generated onsite by CHP (kWh),Swansea University
150,Total renewable energy generated onsite or offsite (kWh),Aberystwyth University
151,Use of renewable energy generated onsite or offsite where the ROCs are retained or not claimed (%),Bangor University
152,Use of renewable energy generated onsite or offsite where the ROCs are sold (%),University of Wales Trinity Saint David
153,Total waste mass (tonnes),Stranmillis University College
154,Total waste mass recycled (tonnes),Trinity Laban Conservatoire of Music and Dance
155,Total waste mass incineration (tonnes),St Mary's University College
156,Total waste mass composting (tonnes),Falmouth University
157,Total waste mass anaerobic digestion (tonnes),University of Suffolk
158,Total waste mass landfill (tonnes),University of St Mark and St John
159,Total waste mass other (tonnes),Harper Adams University
160,Total waste mass used to create energy (tonnes),Heythrop College
161,Non-residential waste mass total (tonnes),
162,Non-residential waste mass recycled (tonnes),
163,Non-residential waste mass incineration (tonnes),
164,Non-residential waste mass composting (tonnes),
165,Non-residential waste mass anaerobic digestion (tonnes),
166,Non-residential waste mass landfill (tonnes),
167,Non-residential waste mass other (tonnes),
168,Non-residential waste mass used to create energy (tonnes),
169,Residential waste mass total (tonnes),
170,Residential waste mass recycled (tonnes),
171,Residential waste mass incineration (tonnes),
172,Residential waste mass composting (tonnes),
173,Residential waste mass anaerobic digestion (tonnes),
174,Residential waste mass landfill (tonnes),
175,Residential waste mass other (tonnes),
176,Residential waste mass used to create energy (tonnes),
177,Other works waste mass total (tonnes),
178,Other works waste mass recycled (tonnes),
179,Other works waste mass incineration (tonnes),
180,Other works waste mass composting (tonnes),
181,Other works waste mass anaerobic digestion (tonnes),
182,Other works waste mass landfill (tonnes),
183,Other works waste mass other (tonnes),
184,Other works waste mass used to create energy (tonnes),
185,Environmental management system existence,
186,Environmental management system external verification,
187,Environmental management system external verification coverage,
188,Environmental reporting total,
189,Fairtrade accreditation existence,
190,Percentage modal split for commuting by staff single occupancy car journey (%),
191,Percentage modal split for commuting by staff car share (%),
192,Percentage modal split for commuting by staff bus (%),
193,Percentage modal split for commuting by staff train (%),
194,Percentage modal split for commuting by staff cycle (%),
195,Percentage modal split for commuting by staff walk (%),
196,Percentage modal split for commuting by staff motorbike (%),
197,Percentage modal split for commuting by staff other (%),
198,Percentage modal split for commuting by students single occupancy car journey (%),
199,Percentage modal split for commuting by students car share (%),
200,Percentage modal split for commuting by students bus (%),
201,Percentage modal split for commuting by students train (%),
202,Percentage modal split for commuting by students cycle (%),
203,Percentage modal split for commuting by students walk (%),
204,Percentage modal split for commuting by students motorbike (%),
205,Percentage modal split for commuting by students other (%),
206,Total number of cycle spaces,
207,Total water supply grey water and rain water (m3),
208,Total water borehole extraction (m3),
209,Borehole water used for irrigation (%),
210,Non-residential GIA in DEC or EPC category A (m2),
211,Non-residential GIA in DEC or EPC category B (m2),
212,Non-residential GIA in DEC or EPC category C (m2),
213,Non-residential GIA in DEC or EPC category D (m2),
214,Non-residential GIA in DEC or EPC category E (m2),
215,Non-residential GIA in DEC or EPC category F (m2),
216,Non-residential GIA in DEC or EPC category G (m2),
217,Residential GIA in DEC or EPC category A (m2),
218,Residential GIA in DEC or EPC category B (m2),
219,Residential GIA in DEC or EPC category C (m2),
220,Residential GIA in DEC or EPC category D (m2),
221,Residential GIA in DEC or EPC category E (m2),
222,Residential GIA in DEC or EPC category F (m2),
223,Residential GIA in DEC or EPC category G (m2),
224,EU Emissions Trading Scheme participation,
225,EU Emissions Trading Scheme carbon allowance bought or sold (tonnes CO2e),
226,EU Emissions Trading Scheme carbon allowance (tonnes CO2e),
227,EU Emissions Trading Scheme cost (£),

In [108]:
tmp = pd.Series(files[5]["Category marker"].unique()).to_frame("category")
tmp["units"] = tmp["category"].str.split("(").apply(lambda x : x[-1][:-1] if len (x)>1 else "")
tmp["category"] = tmp["category"].str.split("(").apply(lambda x : "(".join(x[:-1]) if len(x)>1 else x[0])
lcat = tmp["category"].str.lower().str

tmp["clss_carbon"] = lcat.contains("carbon emissions")
tmp["clss_renewable"] = lcat.contains("renewable energy")
tmp["clss_water"] = lcat.contains("water consumption") | lcat.contains("wastewater")
tmp["clss_waste"] = lcat.contains("waste mass")
tmp["clss_income"] = lcat.contains("income")
tmp["clss_expenditure"] = lcat.contains("expenditure")
tmp["clss_headcount"] = lcat.contains("headcount") | lcat.contains("fte")
tmp["clss_commuting"] = lcat.contains("commuting")
tmp["clss_energy"] = lcat.contains("energy consumption")
tmp["clss_fuel"] = lcat.contains("fuel used")
tmp["clss_gia"] = lcat.contains("gia")
tmp["clss_parking"] = lcat.contains("parking") | lcat.contains("cycle spaces")
tmp["clss_other"] = ~tmp[[x for x in tmp.columns if "clss_" in x]].any(axis=1)
tmp[tmp["clss_other"]]

tmp[tmp[[x for x in tmp.columns if "clss_" in x]].sum(axis=1)>1]

,category,units,clss_carbon,clss_renewable,clss_water,clss_waste,clss_income,clss_expenditure,clss_headcount,clss_commuting,clss_energy,clss_fuel,clss_gia,clss_parking,clss_other
102,Scope 3 carbon emissions from staff commuting by air,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
103,Scope 3 carbon emissions from staff commuting by rail,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
104,Scope 3 carbon emissions from staff commuting by trams,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
105,Scope 3 carbon emissions from staff commuting by underground,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
106,Scope 3 carbon emissions from staff commuting by public bus,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
107,Scope 3 carbon emissions from staff commuting by coach,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
108,Scope 3 carbon emissions from staff commuting by car,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
109,Scope 3 carbon emissions from staff commuting by taxi,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
110,Scope 3 carbon emissions from staff commuting by motorcycle or moped,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
111,Scope 3 carbon emissions from staff commuting by ferry,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
112,Scope 3 carbon emissions from students commuting by air,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
113,Scope 3 carbon emissions from students commuting by rail,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
114,Scope 3 carbon emissions from students commuting by trams,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
115,Scope 3 carbon emissions from students commuting by underground,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
116,Scope 3 carbon emissions from students commuting by public bus,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
117,Scope 3 carbon emissions from students commuting by coach,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
118,Scope 3 carbon emissions from students commuting by car,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
119,Scope 3 carbon emissions from students commuting by taxi,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
120,Scope 3 carbon emissions from students commuting by motorcycle or moped,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
121,Scope 3 carbon emissions from students commuting by ferry,tonnes CO2e,True,False,False,False,False,False,False,True,False,False,False,False,False
131,Total scope 3 carbon emissions from wastewater treatment,tonnes CO2e,True,False,True,False,False,False,False,False,False,False,False,False,False